{% extends 'base.html' %}

{% block title %}
Об исторических периодах
{% endblock %}

{% block content %}

<!DOCTYPE html>

<h1 style="text-align: center">Об исторических периодах</h1>



<h4>1948-1949 Политика “малокартинья”</h4>
<p>Кризис послевоенного кинопроката в СССР был связан не столько с общим положением дел в стране, сколько с политическими требованиями к “качеству” кинолент. В прокат должны были выходить художественные произведения направленные на укрепление патриотизма, показывающие настоящего советского гражданина, верного Родине, партии. Сценарии в этот период проходят обязательное согласование и подвергаются жесткой цензуре. С экранов практически полностью исчезает обычная жизнь человека — его быт, чувства. На первый план выходят художественно-документальные фильмы и биографии. </p>
<p> В сложившейся ситуации спасением отрасли стало «трофейное кино» - это те фильмы, которые были вывезены Советским Союзом с освобожденных, бойцами красной армии, территорий еще во время войны. В конце 1948 года фонд “трофейных” заграничных кинопленок составлял 13 142 фильмов и 18 455 копий и еще около 30 000 неразобранных и неучтенных роликов и кинофильмов.</p>

<img src="{{ url_for('static', filename= 'image/44444.png') }}" alt="44444"
width="1000" height="800"

<p>    </p>

<p><h4>1953-1954 Начало “оттепели”</h4></p>
<p>После смерти И.В. Сталина отечественное кино переживает особенный период - тоталитарный режим строгих правил и цензуры окончен. Кинематограф становится искусством, вместо исторических деятелей на экране появляется советский человек, сильный и многообразный, переживший войну. Человек, чей быт, проблемы повседневной жизни, простые чувства и радости становятся более важными, чем сам сюжет картины. На экранах теперь можно увидеть залитые солнцем улицы, намокшие куртки и платья, а главное, эмоции на лицах людей.</p>

<img src="{{ url_for('static', filename= 'image/555.png') }}" alt="555"
width="1000" height="800"

{% endblock %}