{% extends 'base.html' %}

{% block title %}
О кинотеатрах
{% endblock %}

{% block content %}

<!DOCTYPE html>

<h1 style="text-align: center">О кинотеатрах</h1>

<center>
<img src="{{ url_for('static', filename= 'image/11111.png') }}" alt="11111"
width="420" height="315">

<img src="{{ url_for('static', filename= 'image/2222.png') }}" alt="2222"
width="480" height="315">

</center>
<p>   </p>

<p>Темпы строительства кинотеатров в СССР в первую очередь были предопределены исключительно политико - воспитательным значением кинематографа. Архитектура советских кинотеатров послевоенного периода была неразрывно связана с задачами и спецификой самого киноискусства того времени - с высокими требованиями к идейности, художественному качеству самих зданий, удобствам зрителей. Появляются многозальные кинотеатры, встроенные в жилые дома и пристроенные к ним типы. </p>
<p>Исходя из совокупности технических характеристик киноустановок, месторасположения кинотеатра и качества обслуживания зрителей каждому кинотеатру присваивался свой разряд:</p>
<p><b>Кинотеатры I и II разряда</b> помимо центрального расположения имели дополнительные виды развлечения - фойе, курительные комнаты, буфеты. </p>

<img src="{{ url_for('static', filename= 'image/большой.png') }}" alt="большой"
width="1100" height="400">

<p>   </p>

<p><b>Кинотеатры III</b> разряда были меньшими по площади, могли работать сезонно и никаких дополнительных услуг не предоставляли. </p>
<img src="{{ url_for('static', filename= 'image/спартак.png') }}" alt="спартак"
width="800" height="500">

<p>   </p>
<center>
<h4 style="text-align: center">Карта расположения кинотеатров</h4>

<link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet' />
<main>
    <div id='map' style='width: 400px; height: 300px;'></div>
    </main>
<script src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZGVtb2RlbW9kZW1vIiwiYSI6ImNsdTl1cjFhbjBienkyaW1rbDhya2NmenYifQ.LaA8a_DdkjRo86xg276SLw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    }).addTo(map);

</script>

    {% endblock %}
</center>
