{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

<!DOCTYPE html>
    <body>
        <h1 style="text-align: center"> Советский кинопрокат </h1>

        <p style="text-align: left"> Советский кинопрокат - проект, рассказывающий об особенностях советского кинопроката на стыке двух периодов - тоталитарном контроле в сталинскую эпоху и начале Оттепели. Начавшись с вопроса "а что такое разряды кинотеатров?", проект в итоге вылился в большое исследование, рассказывающее о московских кинотеатрах того времени, советских и зарубежных фильмах, цензуре и наградах на основе собранных данных.
        </p>
cd
    </body>

<img src="{{ url_for('static', filename= 'image/на-главнуюо-проекте.png') }}" alt="на-главнуюо-проекте"
width="1200" height="800">




{% endblock %}